{{template "base" .}}
{{define "content"}}
        <body>
        <h1>{{.Title}}</h1>
        <div>
                <p>This tool is based on the publications:
                        <ul>
                                <li>Andres Paper</li>
                                <li>My paper</li>
                        </ul>
                </p>
        </div>
        <br>
        <div>
                <p>Please direct any requests at the corresponding authors of the linked publications or:
                        <ul>
                                <li>lukas.madenach(at)kitz-heidelberg.de</li>
                                <li>blub.bla(at)placeholder.de</li>
                        </ul>
                </p>
        </div>
        <br>
        <div>
                <p><b>Autry Lab:</b></p>
                <p>PI: Robert Autry</p>
                <p>Clinical Bioinformatics</p>
                <p>Hopp-Kindertumorzentrum Heidelberg</p>
                <p>Im Neuenheimer Feld 280</p>
                <p>69120 Heidelberg</p>

        </div>
        <br>
        <div>
                <p><b>Braun Lab:</b></p>
                <p>PI: Christian Braun</p>
                <p>Department of Pediatrics, Dr. von Hauner Children's Hospital</p>
                <p>University Hospital, LMU Munich</p>
                <p>Lindwurmstraße 4, 80337 Munich Germany</p>
        </div>
        </body>
{{end}}